

/* .div1{
    background-color: aqua;
    padding: 20px;
    border: 10px solid #0e0101;
    width: 200px;
    height: 200px;
}

.div2{
    margin-left: 259px;
    border: 10px solid #0e0101;
    border-width: 20px 10px;
    background-color: blueviolet;
    width: 200px;
    height: 200px;
}

.div3{
    margin-left: 40px;
    border:10px solid black;
    background-color: coral;
    width: 200px;
    height: 200px;
} */

.div1{
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 10px solid black;
    padding: 20px;
}